.pio
.vscode/.browse.c_cpp.db*
.vscode/launch.json
.vscode/ipch
docs/assets/KiCad/*
!docs/assets/KiCad/*.kicad_sch
!docs/assets/KiCad/*.kicad_pcb
!docs/assets/KiCad/*.zip
!docs/assets/KiCad/*.png
.DS_Store
_site
.jekyll-cache